<div class="all">
  <div class="menu">
    <button [routerLink]="''">back</button>
    <div class="menuSection">
      View Database
    </div>
  </div>
  <div class="lowContainer">
    <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
      <mat-toolbar-row style="padding: 0 5px;">
        <button class="search-icon" mat-icon-button disabled>
          <mat-icon>search</mat-icon>
        </button>
        <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>
        <button mat-icon-button (click)="searchClose()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <div class="header-row">
          <span class="header-boxNumber">Box Number</span>
          <span class="header-quantityActive">Quantity Active</span>
          <span class="header-quantityDraft">Quantity Draft</span>
          <span class="header-quantityTotal">Quantity Total</span>
          <span class="header-allActive">All Active</span>
          <span class="header-allProducts">Products</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let box of box | filterPipeBox: searchText">
      <mat-card-content>
        <div class="product-line">
          <span class="box-boxNumber">{{box.boxNumber}}</span>
          <span class="box-quantityActive">{{box.quantityActive}}</span>
          <span class="box-quantityDraft">{{box.quantityDraft}}</span>
          <span class="box-quantityTotal">{{box.quantityTotal}}</span>
          <span class="box-allActive">{{box.allActive}}</span>
          <button mat-button (click)="openProductList(box)">View Products</button>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
