<div class="all">
  <div class="lowContainer">
    <div class="menu">
      <button mat-raised-button color="warn" [routerLink]="''">Back</button>
      <div class="menuSection">
        Download Data
      </div>
      <div class="menuSectionOptions">
        <app-log-history></app-log-history>
      </div>
    </div>

    <div class="button-container">
      <button mat-raised-button class="download-button1" (click)="openDialog('Download CO')">
        Download Client Orders
      </button>
      <button mat-raised-button class="download-button2" (click)="openDialog('Download Box')">
        Download Box Products
      </button>
      <button mat-raised-button class="download-button3" (click)="openDialog('Download All')">
        Download All Products
      </button>
      <button mat-raised-button class="download-button4" (click)="openDialog('Download Team')">
        Download Team Products
      </button>
    </div>
  </div>
</div>
