<div class="all">
  <div class="lowContainer">
    <div class="menu">
      <button [routerLink]="''">back</button>
      <div class="menuSection">
        Upload CSV
      </div>
      <div class="menuSectionOptions">
        Upload History
      </div>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" class="upload-button" (click)="openDialog('Upload Products')">
        Upload Products
      </button>
      <button mat-raised-button color="accent" class="upload-button" (click)="openDialog('Upload Client Order')">
        Upload Client Order
      </button>
      <button mat-raised-button color="warn" class="upload-button" (click)="openDialog('Initialize Database')">
        Initialize Database
      </button>
      <button mat-raised-button color="accent" class="upload-button" (click)="openDialog('Box Movement')">
        Box Movement
      </button>
    </div>
    <app-log-history></app-log-history>
  </div>
</div>
