<div class="all">
  <div class="lowContainer">
    <div class="menu">
      <button mat-raised-button color="warn" [routerLink]="''">Back</button>
      <div class="menuSection">
        Upload CSV
      </div>
      <div class="menuSectionOptions">
        <app-log-history></app-log-history>
      </div>
      <button mat-raised-button color="warn" class="init-button" (click)="openDialog('Initialize Database')">
        Initialize Database
      </button>
    </div>

    <div class="button-container">
      <button mat-raised-button class="upload-button1" (click)="openDialog('Upload Products')">
        Upload Products
      </button>
      <button mat-raised-button class="upload-button2" (click)="openDialog('Upload Client Order')">
        Upload Client Order
      </button>
      <button mat-raised-button class="upload-button3" (click)="openDialog('Box Movement')">
        Box Movement
      </button>
      <button mat-raised-button class="upload-button4" (click)="openDialog('Upload App Users')">
        Upload App Users
      </button>
    </div>
  </div>
</div>
