.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  padding: 0 5%;
}

.upload-button {
  flex: 1;
  margin: 0 150px;
  font-size: 24px;
  height: 90%;
  width: 50%;
  transition: transform 0.3s;
}

.upload-button:hover {
  transform: scale(1.05);
}
