<div class="all">
  <div class="lowContainer">
    <div class="menu">
      <div class="menuButton" [routerLink]="'/csv'" routerLinkActive="active">
        Upload CSV
      </div>
      <div class="menuButton" [routerLink]="'/download-db'" routerLinkActive="active">
        Download Database
      </div>
      <div class="menuButton" [routerLink]="'/view-db'" routerLinkActive="active">
        View Database
      </div>
    </div>
    <div>
      <h2>Client orders over time</h2>
      <canvas baseChart
              [datasets]="chart1Data"
              [labels]="chart1Labels"
              [options]="chart1Options"
              [legend]="chart1Legend"
              [type]="chart1Type">
      </canvas>
    </div>
    <div>
      <h2>Chart 2: Orders per Country</h2>
      <canvas baseChart
              [datasets]="chart2Data"
              [labels]="chart2Labels"
              [options]="chart2Options"
              [legend]="chart2Legend"
              [type]="chart2Type">
      </canvas>
    </div>
  </div>
</div>
