.chart-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: 8%;
  padding-left: 1%;
  bottom: 0;
  width: 60%;
}

.pie-chart-container {
  flex: 1;
  margin-right: 20px;
}

.line-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.line-chart, .line-chart2 {
  margin-bottom: 20px;
}

.bar-chart{
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-bottom: 20px;
}

.team-list-container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h3 {
  color: #333;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  margin-bottom: 10px;
}

ul > li > ul > li {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}
canvas {
  max-width: 100%;
  height: auto;
}
