/* Main container for the whole dashboard */
.main-container {
  display: grid;
  grid-template-areas: "list pie-chart1 pie-chart2 bar-chart"
    "line-graph1 line-graph1 line-graph2 line-graph2";
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}
.menu{
  max-height: 100vh;
  width: 5%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.menuButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
  align-items: center;
}
.menuButton {
  height: 100%;
  width: 90%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #088F8F;
  color: white;
  text-align: center;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 18px;
}
.menuButton:hover {
  background-color: #055f5f;
}
.active {
  background-color: #055f5f;
}

.list-container {
  grid-area: list;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
}

.pie-chart1 {
  grid-area: pie-chart1;
  background-color: #ffffff;
  padding: 20px;
}

.pie-chart2 {
  grid-area: pie-chart2;
  background-color: #ffffff;
  padding: 20px;
}

.line-chart1 {
  grid-area: line-graph1;
  background-color: #ffffff;
  padding: 20px;
}

.line-chart2 {
  grid-area: line-graph2;
  background-color: #ffffff;
  padding: 20px;
}

.bar-chart {
  grid-area: bar-chart;
  background-color: #ffffff;
  padding: 20px;
}
