<div class="all">
  <div class="menu">
    <button mat-raised-button color="warn" [routerLink]="'/view-db'">Back</button>
    <div class="menuSection">
      View Database
    </div>
  </div>
  <div class="lowContainer">
    <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
      <mat-toolbar-row style="padding: 0 5px;">
        <button class="search-icon" mat-icon-button disabled>
          <mat-icon>search</mat-icon>
        </button>
        <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>
        <button mat-icon-button (click)="searchClose()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="filter-buttons">
      <label>
        Nationality:
        <select [(ngModel)]="selectedNationality" (change)="filterTeam()">
          <option value="">All</option>
          <option *ngFor="let nationality of team | filterPipeButtonProduct:'nationality'" [value]="nationality.nationality">
            {{ nationality.nationality }}
          </option>
        </select>
      </label>
      <button (click)="clearFilters()">Clear Filters</button>
    </div>

    <mat-card>
      <mat-card-content>
        <div class="header-row">
          <span class="header-teamCode">Team Code</span>
          <span class="header-teamName">Team Name</span>
          <span class="header-teamNationality">Nationality</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let team of filteredTeam | filterPipeTeam: searchText">
      <mat-card-content>
        <div class="product-line">
          <span class="team-teamCode">{{team.teamCode}}</span>
          <span class="team-teamName">{{team.teamName}}</span>
          <span class="team-teamNationality">{{team.nationality}}</span>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
