<div class="custom-dialog-container" *ngIf="data.action === 'Download CO'">
  <h1>{{ data.action }}</h1>
  <p>Select the client orders you want to download:</p>
  <mat-selection-list [(ngModel)]="selectedOrders">
    <mat-list-option *ngFor="let order of clientOrders" [value]="order">
      {{ order.client.appUsername }} - {{ order.dateOfOrder }} - {{ order.totalOrderValue }}
    </mat-list-option>
  </mat-selection-list>
  <button mat-raised-button color="primary" (click)="onDownloadCO()" [disabled]="!selectedOrders.length">Download</button>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Download Box'">
  <h1>{{ data.action }}</h1>
  <p>Select the box you want to download:</p>
  <mat-selection-list [(ngModel)]="selectedBox">
    <mat-list-option *ngFor="let box of allBoxes" [value]="box">
      {{ box.boxNumber }} - {{ box.quantityTotal }}
    </mat-list-option>
  </mat-selection-list>
  <button mat-raised-button color="primary" (click)="onDownloadBox()" [disabled]="!selectedBox.length">Download</button>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Download All'">
  <h1>{{ data.action }}</h1>
  <p>Select the products you want to download:</p>
  <button (click)="selectAll()">Select All</button>
  <button (click)="deselectAll()">Deselect All</button>
  <mat-selection-list [(ngModel)]="selectedProducts">
    <mat-list-option *ngFor="let product of allProducts" [value]="product">
      {{ product.sku }} - {{ product.quantity }}
    </mat-list-option>
  </mat-selection-list>
  <button mat-raised-button color="primary" (click)="onDownloadAllProducts()" [disabled]="!selectedProducts.length">Download</button>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Download Team'">
  <h1>{{ data.action }}</h1>
  <p>Select the team you want to download:</p>
  <mat-selection-list [(ngModel)]="selectedTeam">
    <mat-list-option *ngFor="let team of allTeams" [value]="team">
      {{ team.teamCode }} - {{ team.teamName }}
    </mat-list-option>
  </mat-selection-list>
  <button mat-raised-button color="primary" (click)="onDownloadTeam()" [disabled]="!selectedTeam.length">Download</button>
</div>
