<div class="custom-dialog-container" *ngIf="data.action === 'Upload Products'">
  <h1>{{ data.action }}</h1>
  <div class="image-container">
    <img src="/assets/Images/csvImage.png" alt="Centered Image">
  </div>

  <input type="file" (change)="onFileSelected($event)" />
  <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile">Upload</button>

  <div *ngIf="uploadProgress !== null">
    <p>Uploading: {{ uploadProgress }}%</p>
  </div>

  <div *ngIf="uploadStatus">
    <p>{{ uploadStatus }}</p>
  </div>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Upload Client Order'">
  <h1>{{ data.action }}</h1>
  <div class="image-container">
    <img src="/assets/Images/csvImage.png" alt="Centered Image">
  </div>

  <input type="file" (change)="onFileSelectedClientOrder($event)" />
  <button mat-raised-button color="primary" (click)="onUploadClientOrder()" [disabled]="!selectedFileClientOrder">Upload</button>

  <div *ngIf="uploadProgress !== null">
    <p>Uploading: {{ uploadProgress }}%</p>
  </div>

  <div *ngIf="uploadStatus">
    <p>{{ uploadStatus }}</p>
  </div>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Upload App Users'">
  <h1>{{ data.action }}</h1>
  <div class="image-container">
    <img src="/assets/Images/csvImage.png" alt="Centered Image">
  </div>

  <input type="file" (change)="onFileSelectedAppUser($event)" />
  <button mat-raised-button color="primary" (click)="onUploadAppUser()" [disabled]="!selectedFileAppUser">Upload</button>

  <div *ngIf="uploadProgress !== null">
    <p>Uploading: {{ uploadProgress }}%</p>
  </div>

  <div *ngIf="uploadStatus">
    <p>{{ uploadStatus }}</p>
  </div>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Initialize Database'">
  <h1>{{ data.action }}</h1>
  <button mat-raised-button color="primary" (click)="executeInit()">Initialize</button>
</div>

<div class="custom-dialog-container" *ngIf="data.action === 'Box Movement'">
  <h1>{{ data.action }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>SKU</mat-label>
      <input matInput [(ngModel)]="sku" placeholder="Enter SKU" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Box Number</mat-label>
      <input matInput [(ngModel)]="newBoxNumber" placeholder="Enter New Box Number" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Move</button>
  </div>
</div>
